/* .Topbar {
    margin: 0 64px;
    padding: 30px 0;
}

.Nav_Ul {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.Nav_items {}

.Nav_items a {
    position: relative;
}

.Nav_items a::after {
    content: '';
    transition: 0.5s;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

.Nav_items a:hover::after {
    width: 100%;
}

.Login_sec {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4rem;
}

.Signup_btn {
    width: 10rem;
    height: 3.6rem;
    background-color: #1588E0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.Hero_section {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 45% auto;
}

.Herosec_img {}




.Herosec_content h1 {
    font-size: 6.4rem;
}

.Herosec_content .Investment_txt {
    font-weight: 300;
    font-size: 6.4rem;
}

.become_txt {
    color: #A7ACBE;
}

.Sign_btn {
    margin-top: 5rem;
    width: 13rem;
    height: 5rem;
    font-size: 1.8rem;
    background-color: #1588E0;
    color: white;
    border: 0;
    border-radius: 8px;
}

.Search_bar {
    text-align: center;
    margin: 0 4rem;
}

.Search_bar p {
    font-size: 3rem;
    font-weight: 600;
}

.Search_bar input {
    width: 100%;
    margin-top: 3rem;
    border: 0;
    background-color: #044062;
    height: 5rem;
    padding: 10px;
    border-radius: 6px;
    outline: 0;
    color: #FFFFFF;
}

.Search_bar input::placeholder {
    color: white;
}

.Side_de {
    position: absolute;
    right: -18%;
}

.we_use_txt {
    margin: 0 auto;
    margin-top: 8rem;
    width: 46%;
    text-align: center;
}

.we_use_txt p {
    font-size: 3.4rem;
}

.we_use_txt span {
    padding-top: 3rem;
    color: #A7ACBE;
    display: inline-block;
}

.Stock_List {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #043958;
}

.Stock_List li {
    color: #A7ACBE;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.Stock_List li.active {
    border-bottom: 2px solid #1588E0;
    color: white;
}

.Stock_List li:hover{
    border-bottom: 2px solid #1588E0;
    color: white;
}


.Portfolli_sec {
    background-color: #022335;
    padding: 5rem 10rem;
}

.Portfolio_content p {
    font-size: 3.6rem;
}

.Portfolio_content span {
    color: #A7ACBE;
    margin-top: 3rem;
    display: inline-block;
}

.Sollicitant_txt {
    font-size: 3.6rem;
    text-align: center;
}

.Sollicitant_contnt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.SollicitantItem_content {
    width: 60%;
    margin: 0 auto;
}

.SollicitantItem_content p {
    font-size: 3.2rem;
}

.SollicitantItem_content span {
    color: #A7ACBE;
    text-align: left;
    margin-top: 1rem;
    display: inline-block;
}

.Join_bennar{
    min-height: 400px;
    background-color: #5186ED;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dimand_imges{
    position: absolute;
    top: 5rem;
    left: 0;
}

.Join_bennar button{
    display: block;
    background-color: black;
    color: white;
    border: 0;
    width: 12rem;
    height: 4rem;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 2rem;
}

.join_content{
    width: 30%;
} */
.Topbar {
  
   
}

.Navbar_Section {
    padding: 2rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: #141619;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.Navbar_ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.Nav_items .Nav_link {
    color: white;
    text-transform: uppercase;
    position: relative;
}

.Nav_items .Nav_link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    width: 0;
    height: 2px;
    transition: 0.3s;
    border-radius: 15px;
}

.Nav_items .Nav_link:hover::after {
    width: 100%;
}

.getin_Touch {
    text-transform: uppercase;
    position: relative;
}

.getin_Touch::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -27px;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}

.get_touch {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu_icon {
    font-size: 2.5rem;
}

.hero_section {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 7rem;
}

.hero_section h1 {
    font-size: 7.4rem;
    line-height: 13rem;
}

.get_btn {
    width: 20rem;
    height: 5.8rem;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 5.8rem;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}


.Aboutteam_Content {
    width: 40%;
    margin: 0 auto;
    margin-top: 10rem;
    text-align: center;
}

.Aboutteam_Content h1 {
    font-size: 4.6rem;
}

.Aboutteam_Content p {
    margin-top: 2.4rem;
}

.container_About {
    margin: 0 19rem;
}

.About_section {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.about_items {
    padding: 3rem;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(#665DCD, #5FA4E6, #D2AB67)30;
    cursor: pointer;
    position: relative;
}

.about_items::after {
    transition: 0.5s;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    z-index: -1;
}


.about_items:hover::after {
    width: 100%;
}

.about_items h2 {
    font-size: 4rem;
}

.about_items p {
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.about_items:nth-child(1) {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.about_items:nth-child(2),
.about_items:nth-child(3),
.about_items:nth-child(4) {
    border-top: 0;
    border-right: 0;
}

.about_items:nth-child(5) {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.about_items:nth-child(6),
.about_items:nth-child(7),
.about_items:nth-child(8) {
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}


.crypto_Contant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    margin-top: 10rem;
    align-items: center;
}

.MarketMaking_contant {
    width: 70%;
}

.MarketMaking_contant h2 {
    font-weight: 400;
    line-height: 1em;
    margin-bottom: 2rem;
}

.MarketMaking_contant p {
    margin-top: 2rem;
}

.LearnMore_btn {
    margin-top: 3rem;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2px;
    border-bottom: 1px solid #D2AB67;

}

.crypto_section {
    position: relative;
}

.bg_items {
    position: absolute;
    left: -100%;
    top: -100%;
    z-index: -1;
}