body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #141619;
  overflow-x: hidden;
  font-size: 1.6rem;
  color: white;
  /* background: linear-gradient(to bottom, #141619, #1E2935, #141619); */

}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@300;400;600;700&family=Yesteryear&display=swap');


/* inter-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v12-latin-300.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v12-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v12-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerX {
  margin: 0 9rem;
}

.row {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-black);
}

a:hover {
  color: var(--text-black);
}

h2 {
  font-size: 4.4rem;
  line-height: 1.5em;
}

h4 {
  font-size: 3.5rem !important;
  line-height: 1.5em;
}

h5 {
  font-size: 2.4rem !important;
  line-height: 1.5em;
}

h6 {
  font-size: 2rem;
  line-height: 1.5em;
}

.MinWidth {
  max-width: 1440px;
  margin: 0 auto;
}

.mb50 {
  margin-bottom: 50rem;
}

.mt8 {
  margin-top: 8rem;
}

.mt6 {
  margin-top: 6rem;
}

.mt14 {
  margin-top: 14rem;
}



@media screen and (min-width: 1400px) and (max-width: 1599px) {
  html {
    font-size: 9px;
  }

  .ourpartners_txt h2 {
    width: 70%;
  }

  .marquee-wrapper .containers {
    width: 75%;
  }
}


@media screen and (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 9px;
  }

  .hero_section {
    width: 45%;
  }

  .container_About {
    margin: 0 12rem;
  }

  .about_items {
    padding: 2rem;
  }

  .about_items h2 {
    font-size: 3rem;
  }

  .ourpartners_txt h2 {
    width: 80%;
  }

  .marquee-wrapper .containers {
    width: 80%;
  }

  .Compnay_Slidders {
    width: 60%;
  }


}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 8px;
  }

  .hero_section {
    width: 48%;
    margin-top: 5rem;
  }

  .get_btn {
    margin-top: 4rem;
  }

  .container_About {
    margin: 0 10rem;
  }

  .about_items {
    padding: 2rem;
  }

  .about_items h2 {
    font-size: 3rem;
  }

  .MarketMaking_contant {
    width: 90%;
  }


  .middleleft_bg {
    left: -40%;
    top: -25%;
    width: 80%;
  }


  .ourpartners_txt h2 {
    width: 80%;
  }

  .marquee-wrapper .containers {
    width: 85%;
  }

  .Compnay_Slidders {
    width: 60%;
  }

  .Join_heading h2 {
    width: 80%;
  }

  .Contactbg1 {
    left: -20%;
  }


}

@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 8px;
  }

  .hero_section {
    width: 60%;
    margin-top: 4rem;
  }

  .get_btn {
    margin-top: 3rem;
  }

  .container_About {
    margin: 0 8rem;
  }

  .about_items {
    padding: 2rem;
  }

  .about_items h2 {
    font-size: 2.6rem;
  }

  .bg_items {
    top: 0;
  }

  .MarketMaking_contant {
    width: 100%;
  }

  .Aboutteam_Content {
    width: 55%;
    margin-top: 8rem;
  }


  .crypto_Contant {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
    margin-top: 6rem;
  }

  .our_partners_section {
    grid-template-columns: repeat(1, 1fr);
  }

  .ourpartners_txt h2 {
    width: 100%;
    text-align: center !important;
    font-size: 5rem;
  }

  .middleleft_bg {
    left: -40%;
    top: -25%;
    width: 80%;
  }

  .Compnay_Slidders {
    width: 70%;
  }

  .Join_team_section {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 8%;
  }

  .Join_heading h2 {
    width: 100%;
    font-size: 5rem !important;
    text-align: center;

  }

  .Contactbg1 {
    left: -20%;
  }

  .Footer_section {
    padding: 6rem 10rem;
    margin-top: 8rem;
  }

  .Focuse_items {
    padding: 3rem;
  }

  .mtopmin {
    margin-top: -115px;
  }

  .Focuse_imges img {
    width: 6rem;
    height: 6rem;
  }

  .WORKPLACE_ul {
    padding-left: 10%;
  }

  .open_positions_box {
    padding: 3rem;
  }



}

@media screen and (min-width: 576px) and (max-width: 767px) {
  html {
    font-size: 8px;
  }

  .hero_section {
    width: 80%;
    margin-top: 4rem;
  }

  .get_btn {
    margin-top: 3rem;
  }

  .hero_section h1 {
    font-size: 6rem;
    line-height: 8rem;
  }

  .container_About {
    margin: 0 6rem;
  }

  .about_items {
    padding: 2rem;
  }

  .about_items h2 {
    font-size: 2.6rem;
  }

  .bg_items {
    top: 0;
  }

  .MarketMaking_contant {
    width: 100%;
  }

  .Aboutteam_Content {
    width: 85%;
    margin-top: 8rem;
  }


  .crypto_Contant {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
    margin-top: 4rem;
  }

  .About_section {
    margin-top: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .about_items:nth-child(3) {
    border-left: 0;
  }

  .about_items:nth-child(5),
  .about_items:nth-child(6) {
    border-bottom: 1px solid;
  }

  .about_items:nth-child(7) {
    border-left: 0;
  }

  .about_items p {
    margin-top: 1rem;
  }


  .our_partners_section {
    grid-template-columns: repeat(1, 1fr);
  }

  .ourpartners_txt h2 {
    width: 100%;
    text-align: center;
    font-size: 5rem;
  }

  .middleleft_bg {
    left: -40%;
    top: -25%;
    width: 80%;
  }

  .marquee-wrapper .containers {
    width: 70%;
  }

  .Compnay_Slidders {
    width: 80%;
  }

  .Join_team_section {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 6%;
  }

  .Join_heading h2 {
    width: 100%;
    font-size: 5rem !important;
    text-align: center;
  }

  .Contactbg1 {
    left: -60%;
  }

  .Footer_section {
    padding: 5rem 8rem;
    margin-top: 6rem;
  }

  .Focuse_section {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 4rem;
    grid-auto-rows: 1fr;
  }

  .mtopmin {
    margin-top: 0;
  }

  .Focuse_items {
    padding: 2rem;

  }

  .Focuse_imges img {
    width: 6rem;
    height: 6rem;
  }

  .boxes__item {
    height: auto;
  }

  .WORKPLACE_ul {
    padding-left: 0;
  }

  .open_positions_box {
    padding: 3rem;
  }

  .DISCOVER_btn {
    width: 18rem;
    height: 5rem;
    font-size: 1.4rem;
  }

  .Eager_contant h3 {
    font-size: 2.6rem;
  }




}

@media only screen and (max-width: 991px) {
  html {
    font-size: 8px;
  }

  .blck_layers {
    width: 100%;
    position: fixed;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.158);
    z-index: 1;
    backdrop-filter: blur(4px);
  }

  .Navbar_Section {
    padding: 2rem 3rem;
  }

  .Navbar_ul {
    display: block;
    background-color: white;
    position: absolute;
    width: 60%;
    left: -60%;
    height: 100vh;
    top: 0;
    padding: 3rem;
    transition: 0.5s;
    z-index: 1;
  }

  .Logo_section {
    width: 15rem;
  }

  .Navbar_ul.active {
    left: 0;
  }


  .Nav_items {
    margin-bottom: 2rem;
  }

  .Nav_items .Nav_link {
    color: black;
    text-transform: uppercase;
    position: relative;
    font-size: 1.8rem;
    display: inline-block;
  }

  .Nav_items .Nav_link::after {
    background: #080101;
  }

  .WorkWith_items {
    padding: 2rem;
  }

  .Work_txt {
    font-size: 3rem;
  }

}

@media only screen and (max-width: 575px) {
  html {
    font-size: 8px;

  }

  .hero_section {
    width: 90%;
    margin-top: 4rem;
  }

  .get_btn {
    margin-top: 3rem;
  }

  .hero_section h1 {
    font-size: 5rem;
    line-height: 8rem;
  }

  .container_About {
    margin: 0 2rem;
  }

  .about_items {
    padding: 2rem;
  }

  .about_items h2 {
    font-size: 2.6rem;
  }

  .bg_items {
    top: 0;
  }

  .MarketMaking_contant {
    width: 100%;
  }

  .Aboutteam_Content {
    width: 85%;
    margin-top: 8rem;
  }


  .crypto_Contant {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin-top: 4rem;
  }

  .About_section {
    margin-top: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .about_items:nth-child(3) {
    border-left: 0;
  }

  .about_items:nth-child(5),
  .about_items:nth-child(6) {
    border-bottom: 1px solid;
  }

  .about_items:nth-child(7) {
    border-left: 0;
  }

  .about_items p {
    margin-top: 1rem;
  }

  .get_btn {
    width: 15rem;
    height: 4.8rem;

  }

  .Aboutteam_Content h1 {
    font-size: 2.8rem;
  }

  .MarketMaking_contant h2 {
    font-size: 2.4rem;
  }


  .our_partners_section {
    grid-template-columns: repeat(1, 1fr);
  }

  .ourpartners_txt h2 {
    width: 100%;
    text-align: center;
    font-size: 3.6rem !important;
  }

  .middleleft_bg {
    left: -31%;
    top: -15%;
    width: 80%;
  }

  .marquee-wrapper .containers {
    width: 100%;
  }

  .Contant_name img {
    width: 6rem;
    height: 6rem;
  }

  .Compnay_Slidders {
    width: 100%;
  }

  .good_company_section h2 {
    font-size: 3.6rem;
  }

  .owl-theme .owl-dots {
    margin-top: 5rem !important;
  }

  .Join_team_section {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 6%;
  }

  .Join_heading h2 {
    width: 100%;
    font-size: 3.6rem !important;
    text-align: center;
  }

  .Contactbg1 {
    left: -60%;
  }

  .Footer_section {
    padding: 4rem;
    margin-top: 6rem;
  }

  .Footer_logo_section {
    flex-direction: column-reverse;
    text-align: center;
  }

  .Gravity_txt {
    margin-top: 2rem;
  }

  .Privacy_Policy {
    margin-top: 3rem;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }

  .trem_bg {
    left: 0;
    top: 300%;
  }

  .Philanthropy_items {
    padding: 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .GravityTeam_content {
    font-size: 1.8rem;
  }

  .WorkWith_section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 6rem;
    gap: 2rem;
  }

  .WorkWith_items:nth-child(1),
  .WorkWith_items:nth-child(3) {
    border-right: 2px solid;
  }

  .WorkWith_items:nth-child(1),
  .WorkWith_items:nth-child(2) {
    border-bottom: 2px solid;
  }



  .Focuse_section {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 4rem;
    grid-auto-rows: 1fr;
  }

  .mtopmin {
    margin-top: 0;
  }

  .Focuse_items {
    padding: 2rem;

  }

  .Focuse_imges img {
    width: 6rem;
    height: 6rem;
  }

  .boxes__item {
    height: auto;
  }


  .WORKPLACE_ul {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
  }

  .open_positions_box {
    display: block;
    padding: 3rem;
  }

  .DISCOVER_btn {
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
    margin-top: 1rem;
  }

  .Eager_contant h3 {
    font-size: 3rem;
  }

  .Eager_contant p {
    font-size: 1.4rem;
  }

  .Backgroundfrom {
    right: -100%;
    top: -10%;
    width: 100%;
  }
}